<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/fe4a9070-5434-451e-968f-8e9008ff1b2d/resourceGroups/API/providers/Microsoft.ApiManagement/service/BoekingssysteemAPIapi/apis/BoekingssysteemAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/fe4a9070-5434-451e-968f-8e9008ff1b2d/resourcegroups/API/providers/Microsoft.Web/sites/BoekingssysteemAPI</ResourceId>
    <ResourceGroup>API</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://boekingssysteemapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>df19d410-ac0a-44b5-9ca6-844da7f017a7</ProjectGuid>
    <PublishUrl>https://boekingssysteemapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$BoekingssysteemAPI</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>